/* ================= Custom Variables Start ================= */
:root {
  --Black: #111111;
  --Orange: #fea301;
  --SkyBlue: #01acfd;
  --White: #f7f7f7;
  --Raleway: "Raleway", serif;
  --QuickSand: "Quicksand", serif;
}
/* ================= Custom Variables End ================= */
/* ================= Global Styles Start ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--QuickSand);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}
.btn {
  padding: 10px 60px;
  border-radius: 12px;
  background: var(--Orange);
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.btn:hover {
  background: #e39815;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.98);
}
/* ================= Global Styles End ================= */

/* ================= Header Styles Start ================= */
header {
  padding: 20px 0;
}
.menubar {
  display: none;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .logo p {
  color: var(--Black);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
nav ul li a {
  color: var(--Orange);
  font-size: 20px;
  font-weight: 700;
}
nav ul li:nth-of-type(2) a {
  color: var(--SkyBlue);
  font-weight: 500;
}
nav ul li:nth-of-type(3) a {
  color: #05d4df;
  font-weight: 500;
}
nav ul li:nth-of-type(4) a {
  color: #5d58ef;
  font-weight: 500;
}
.banner-container {
  display: flex;
  gap: 50px;
}
.banner-writting {
  padding-top: 120px;
  padding-bottom: 122px;
}
.banner-writting h1 {
  color: var(--Black);
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}
.banner-writting h1 span:first-of-type {
  color: var(--Orange);
}
.banner-writting h1 span:last-of-type {
  color: var(--SkyBlue);
}
.banner-writting p {
  color: var(--Black);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}
.banner-writting button {
  background: var(--Black);
  font-weight: 700;
  padding: 12px 47px;
  transition: background-color 0.3s linear;
}
/* ================= Header Styles End ================= */

/* ================= Curriculum Styles Start ================= */
#curriculum {
  padding: 60px 0;
  background: url(../assets/bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
#curriculum h2 {
  color: var(--Black);
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}
.card-container {
  margin: 80px 0;
  display: flex;
  gap: 28.29px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  width: 367.805px;
  height: 476.784px;
  padding: 45px 40.668px 45px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  flex-shrink: 0;
  border-radius: 18.864px;
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card h4 {
  color: #202020;
  text-align: center;
  font-size: 24.523px;
  font-weight: 700;
  line-height: 30.654px; /* 125% */
}
.card p {
  color: #808080;
  text-align: center;
  font-family: var(--Raleway);
  font-size: 15.091px;
  font-weight: 500;
  line-height: 28.296px; /* 187.5% */
}
.card a {
  color: #64c8ff;
  text-align: center;
  font-size: 15.091px;
  font-weight: 700;
  cursor: pointer;
}
.card:nth-of-type(1) {
  padding: 40px 40.668px 40px 40.878px;
}
.card:nth-of-type(2) {
  border: 0.943px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card:nth-of-type(2) a {
  color: #f0aa00;
}
.card:nth-of-type(3) {
  border: 0.943px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.card:nth-of-type(3) a {
  color: #8700ff;
}
.arrow-btn-container {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
}
.right,
.left {
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 17px 0px 19px 0px;
  border-radius: 30px;
  background: var(--Orange);
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.right:hover,
.left:hover {
  background: #d48805;
}
.right:active,
.left:active {
  transform: scale(0.98);
}
.right,
.left i {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}
/* ================= Curriculum Styles End ================= */

/* ================= Stories Styles Start ================= */
#stories {
  padding: 60px 0;
  background: url(../assets/bg.png),
    linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
#stories h2 {
  color: var(--Black);
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}
.img-box-container {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "one one two three" "one one four five";
  gap: 20px;
}
.one {
  grid-area: one;
}
.one h4 {
  width: 402.495px;
  color: #000;
  margin-left: 38px;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.347px; /* 159.781% */
}
.one p {
  width: 433.057px;
  color: #666;
  margin-top: 51px;
  margin-left: 38px;
  margin-bottom: 34px;
  font-family: var(--Raleway);
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px; /* 187.5% */
}
.one button {
  background: #3cd8e8;
}
.two h4,
.three h4,
.four h4,
.five h4 {
  color: #000;
  font-size: 15.339px;
  font-weight: 700;
  margin-left: 38px;
  line-height: 28.761px; /* 187.5% */
}
.two {
  grid-area: two;
}
.two button {
  background: #95b226;
}
.three {
  grid-area: three;
}
.three button {
  background: #5d58f0;
}
.four {
  grid-area: four;
}
.four button {
  background: #95b226;
}
.five {
  grid-area: five;
}
.five button {
  background: #95b226;
}
.img-box {
  border-radius: 16px;
  background: #fff;
}
.img-box img {
  border-radius: 16px 16px 0px 0px;
}
.img-box button {
  outline: none;
  border: none;
  color: #fff;
  font-family: var(--Raleway);
  margin-left: 38px;
  font-size: 15.339px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 14.38px 18.876px 15.339px 19.174px;
  border-radius: 47.934px;
  transform: translateY(-55%);
}
.view-all{
    display: flex;
    justify-content: center;
    width: 100%;
}
.view-all button {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-radius: 12px;
  background: var(--Black);
  padding: 10px 61px;
}

/* ================= Stories Styles End ================= */

/* ================= Global Styles Start ================= */
/* ================= Global Styles End ================= */

/* ================= Responsiv 576px Styles Start ================= */
@media screen and (max-width: 576px) {
  /* navbar  */
  header {
    padding: 0;
  }
  .navbar-container {
    padding: 12px 16px;
    border-bottom: 0.5px solid var(--Orange);
  }
  .menubar {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
  header .logo p {
    display: none;
  }
  nav {
    display: none;
  }
  .navbtn {
    display: none;
  }

  /* banner  */
  .banner-container {
    flex-direction: column-reverse;
    gap: 0;
    padding: 0 16px;
  }
  .banner-img {
    padding-top: 30px;
  }
  .banner-img img {
    width: 100%;
  }
  .banner-writting {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .banner-writting h1 {
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    width: 357px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
  .banner-writting p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 357px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
  .banner-writting button {
    font-size: 16px;
    font-style: normal;
    padding: 10px 24px;
  }

  /* Curriculum  */

  #curriculum {
    padding: 40px 16px;
    background-position: center;
    background-size: cover;
  }
  #curriculum h2 {
    font-size: 26px;
  }
  .card-container {
    margin: 20px 0;
    gap: 12px;
    justify-content: center;
  }
  .card {
    width: 100%;
    height: 321px;
    padding: 36px 28px;
    gap: 22px;
  }
  .card img {
    width: 95px;
    height: 95px;
  }
  .card h4 {
    font-size: 16.603px;
  }
  .card p {
    font-size: 10.217px;
    line-height: 19.158px; /* 187.5% */
  }
  .arrow-btn-container {
    display: none;
  }
}
/* ================= Responsiv 576px Styles End ================= */
